html,
body {
  margin: 0;
  padding: 0;
  background-color: #EEE9E6; }

@font-face {
  font-family: 'OldStandard';
  src: url("../fonts/OldStandardTT-Regular.woff2") format("woff2"), url("../fonts/OldStandardTT-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-ExtraBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

.wrapper {
  max-width: 1166px;
  padding: 0 10px;
  margin: 0 auto;
  outline: 1px solid green; }
  .wrapper--header {
    display: grid;
    grid-template-columns: repeat(12, 1fr); }
  .wrapper--promo {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 182px 74px 52px;
    grid-row-gap: 30px;
    padding: 70px 0 0 0; }
  .wrapper--about-company {
    display: grid;
    grid-template-columns: repeat(12, 1fr); }
  .wrapper--popular {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: 0; }
  .wrapper--projects {
    display: grid;
    grid-template-columns: repeat(12, 1fr); }
  .wrapper--mission {
    display: grid;
    grid-template-columns: repeat(12, 1fr); }

.page-header {
  padding: 20px 0 28px 0; }

.header-logo {
  margin: 9px 0 0 0; }

.header-contact {
  max-width: 174px;
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #695A59;
  margin: 0 0 0 auto;
  grid-column: 5 / span 4;
  position: relative; }
  .header-contact .header-contact__icon {
    position: absolute;
    top: 4px;
    left: -27px;
    width: 21px;
    height: 21px; }
  .header-contact a {
    text-decoration: none;
    color: #695A59; }
    .header-contact a:hover, .header-contact a:focus {
      opacity: 0.8; }
    .header-contact a:active {
      opacity: 0.6; }
  .header-contact button {
    font-family: "Montserrat", "Arial", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #695A59;
    background-color: transparent;
    border: none;
    outline: none;
    text-decoration: underline;
    margin: 0 0 0 -6px;
    cursor: pointer; }
    .header-contact button:hover, .header-contact button:focus {
      opacity: 0.8; }
    .header-contact button:active {
      opacity: 0.6; }

.header-address {
  max-width: 252px;
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #695A59;
  margin: 0 0 0 auto;
  grid-column: 9 / span 3;
  position: relative; }
  .header-address::before {
    position: absolute;
    content: '';
    top: 2px;
    left: -30px;
    width: 18px;
    height: 22px;
    background-image: url("../img/icon-pin.svg"); }

.header-description {
  max-width: 222px;
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #695A59;
  grid-column: 2 / span 3;
  margin: 6px 0 0 12px; }
  .header-description p {
    margin: 0; }

.page-header-menu {
  position: relative; }

.page-header-menu-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 36px;
  height: 32px;
  margin-top: 10px;
  margin-bottom: 25px;
  padding: 0;
  background-color: transparent;
  border: none; }
  .page-header-menu-button::before {
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    background-image: url("../img/menu.svg");
    background-repeat: no-repeat;
    background-position: center; }

.promo {
  background-image: url("../img/main-bg2.png"), url("../img/main-bg.png");
  background-size: cover, cover;
  background-repeat: no-repeat, no-repeat;
  min-height: 520px;
  margin: 0 0 195px 0; }
  .promo h1 {
    font-family: "OldStandard", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 46px;
    line-height: 64px;
    text-transform: uppercase;
    color: #EEE9E6;
    margin: 0;
    grid-column-start: 2;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 2;
    margin: 0 0 0 0; }
  .promo p {
    font-family: "Montserrat", "Arial", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    color: #EEE9E6;
    opacity: 0.6;
    margin: 0;
    grid-column-start: 2;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 3; }
  .promo button {
    width: 230px;
    font-family: "Montserrat", "Arial", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #A78587;
    background-color: transparent;
    border: none;
    border-top: 1px solid #A78587;
    border-bottom: 1px solid #A78587;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 3; }

.promo-image {
  grid-column-start: 7;
  grid-column-end: 12;
  grid-row-start: 1;
  grid-row-end: 2;
  margin: 10px 0 0 10px; }

.about-company {
  margin: 0 0 107px 0; }
  .about-company h2 {
    font-family: "OldStandard", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 42px;
    line-height: 54px;
    text-transform: uppercase;
    color: #695A59;
    margin: 0 0 25px 0;
    position: relative;
    z-index: 2;
    grid-column-start: 2;
    grid-column-end: 12; }
    .about-company h2::before {
      position: absolute;
      content: 'About us';
      font-family: "OldStandard", "Arial", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 140px;
      line-height: 110px;
      text-transform: uppercase;
      color: #EAE1DC;
      top: -20px;
      left: -100px;
      z-index: -1; }
  .about-company p {
    font-family: "Montserrat", "Arial", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    color: #695A59;
    grid-column-start: 2;
    grid-column-end: 8;
    margin: 20px 0 0 0; }
  .about-company aside {
    grid-column-start: 9;
    grid-column-end: 12;
    grid-row-start: 2;
    grid-row-end: 6;
    margin: 30px 0 0 13px; }
    .about-company aside .aside-parag {
      font-family: "Montserrat", "Arial", sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 24px;
      color: #695A59;
      margin: 5px 0 0 0; }

.test {
  background-image: url("../img/about-company-bg2.png");
  background-repeat: no-repeat;
  background-position: cover;
  min-height: 304px;
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 9;
  grid-row-end: 12;
  margin: 40px 0 20px 0; }
  .test p {
    font-family: "Montserrat", "Arial", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 48px;
    color: #FFFFFF;
    margin: 0;
    padding: 72px 20px 0 100px; }

.test-2 {
  grid-row-start: 12;
  grid-row-end: 14; }

.about-figure {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin: 45px 0 20px 0;
  grid-column-start: 2;
  grid-column-end: 13;
  grid-row-start: 15;
  grid-row-end: 17; }
  .about-figure figcaption {
    font-family: "Montserrat", "Arial", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #695A59;
    grid-column-start: 3;
    grid-column-end: 11;
    padding: 310px 0 0 0;
    margin: 0 0 0 5px; }
    .about-figure figcaption a {
      color: #695A59; }
      .about-figure figcaption a:hover, .about-figure figcaption a:focus {
        opacity: 0.8; }
      .about-figure figcaption a:active {
        opacity: 0.6; }

.test-3 {
  grid-column-start: 2;
  grid-column-end: 6;
  grid-row-start: 18;
  grid-row-end: 20; }

.section-header {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 20px;
  font-family: "OldStandard", "Arial", sans-serif; }

.section-header h2 {
  grid-area: 1 / 2 / 2 / span 5;
  z-index: 1;
  margin: auto 0;
  font-size: 42px;
  line-height: 54px;
  text-transform: uppercase;
  color: #695A59; }

.section-header p {
  grid-area: 1 / 1 / 2 / -1;
  margin: 15px 0 0 0;
  font-size: 140px;
  line-height: 140px;
  text-transform: uppercase;
  color: #eae1dc; }

.section-header-light h2 {
  color: #eee9e6; }

.section-header-light p {
  color: #3e3a3c; }

.popular {
  margin-bottom: 103px; }

.popular-item-list {
  margin: 16px 0 0 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 20px; }

.popular-item-list__item {
  grid-column: span 4;
  display: grid;
  grid-template-rows: 240px auto;
  background-color: #ffffff; }

.popular-item-list__horizontal-item {
  grid-column: span 6;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 132px 132px;
  grid-column-gap: 20px; }

.popular-item-list__horizontal-item .popular-item-list__description-block {
  grid-column: 2 / -1;
  padding: 34px 20px 28px 15px; }

.popular-item-list__description-block {
  padding: 35px 30px 40px 36px; }
  .popular-item-list__description-block h3 {
    font-family: "OldStandard", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 36px;
    color: #695A59;
    margin: 0;
    padding: 0 0 23px 0; }
  .popular-item-list__description-block p {
    font-family: "Montserrat", "Arial", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 24px;
    color: #343235;
    margin: 0;
    padding: 0 0 19px 0; }
  .popular-item-list__description-block small {
    font-family: "Montserrat", "Arial", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #695A59;
    opacity: 0.6; }
  .popular-item-list__description-block a {
    display: block;
    font-family: "Montserrat", "Arial", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    text-decoration: none;
    color: #9A8584;
    padding: 30px 0 0 0;
    position: relative; }
    .popular-item-list__description-block a::before {
      position: absolute;
      content: '';
      background-image: url("../img/arrow.svg");
      background-repeat: no-repeat;
      background-size: 80px 8px;
      background-position: center;
      width: 80px;
      height: 8px;
      bottom: 3px;
      left: 85px; }
    .popular-item-list__description-block a:hover, .popular-item-list__description-block a:focus {
      opacity: 0.8; }
    .popular-item-list__description-block a:active {
      opacity: 0.6; }

.projects {
  margin-bottom: 120px; }

.projects-slider {
  margin: 28px 0 0 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(12, 1fr); }

.projects-slider__slide {
  display: grid;
  grid-template-rows: auto 100px;
  grid-column: 2 / 10;
  margin: -12px 0 0 3px; }

.projects-slider__slide img {
  grid-area: 1 / 1 / 3 / 2; }

.slide-info {
  grid-area: 2 / 1 / 3 / 2;
  z-index: 1;
  background-color: rgba(52, 50, 53, 0.9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .slide-info p {
    font-family: "OldStandard", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 36px;
    color: #F5F2ED;
    margin: 0 0 0 35px; }
  .slide-info a {
    display: inline-block;
    font-family: "Montserrat", "Arial", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    text-decoration: none;
    color: #F5F2ED;
    margin: 0 35px 0 0;
    position: relative; }
    .slide-info a::after {
      content: "";
      display: inline-block;
      width: 33px;
      height: 8px;
      margin: 4px 0 0 15px;
      background-image: url("../img/arrow-small.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover; }
    .slide-info a:hover, .slide-info a:focus {
      opacity: 0.8; }
    .slide-info a:active {
      opacity: 0.6; }

.slider-controls {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  position: relative; }

.slider-controls__button {
  width: 72px;
  height: 72px;
  border: none;
  border-radius: 50%;
  background: #343235;
  cursor: pointer;
  position: absolute;
  top: 310px;
  background-image: url("../img/slider-arrow.svg"); }
  .slider-controls__button--prev {
    grid-column: 1 / 2;
    background-size: 33px 16px;
    background-position: center;
    background-repeat: no-repeat; }
  .slider-controls__button--next {
    grid-column: 12 / 13;
    margin: 0 0 0 25px;
    background-size: 33px 16px;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
  .slider-controls__button:hover, .slider-controls__button:focus {
    background-color: #A78587; }
  .slider-controls__button:active {
    opacity: 0.6; }

.mission {
  background-color: #343235;
  padding-top: 120px; }

.mission-content {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto auto auto auto;
  grid-gap: 20px; }

.mission-content .section-header {
  grid-column-start: 7;
  grid-column-end: -1;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-template-columns: repeat(12, 1fr); }

.mission-content .section-header h2 {
  grid-column-start: 3;
  grid-column-end: 11;
  grid-row-start: 1;
  grid-row-end: 2;
  margin: 5px 0 0 0; }

.mission-content .section-header p {
  margin: 0 0 0 0; }

.mission-content video {
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 3; }

.mission-text {
  grid-column-start: 8;
  grid-column-end: 13;
  grid-row-start: 2;
  grid-row-end: 2;
  margin-top: -205px; }
  .mission-text p {
    font-family: "Montserrat", "Arial", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    color: #FBF3F0;
    margin: 0 0 12px 0; }

.mission-img-small {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 3;
  grid-row-end: 4; }

.mission-img-big {
  grid-column-start: 7;
  grid-column-end: -1;
  grid-row-start: 2;
  grid-row-end: 4;
  margin-top: 105px; }

.team {
  background-color: #343235;
  margin-top: -18px;
  padding-bottom: 120px; }

.team-content {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px; }

.team__description {
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: #FBF3F0;
  margin: 15px 0 0 0;
  grid-column: 2 / 8; }

.team__description--small {
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #FBF3F0;
  margin: 15px 0 0 0;
  grid-column: 9 / 13;
  grid-row: 1 / 2; }

.team-image {
  display: block;
  grid-column: 1 / -1;
  margin: 45px 0 0 0; }

.collections {
  padding-top: 100px;
  margin-bottom: 113px; }

.collections__description {
  max-width: 573px;
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: #695A59;
  margin: 5px 0 0 100px; }

.collections-list {
  margin: 46px 0 0 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px; }

.collections-list__collection--big {
  grid-row: span 2; }

.feedback {
  background-color: #343235;
  background-image: url("../img/contact-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 734px; }

.feedback .section-header {
  padding: 60px 0 0 0; }

.feedback-content {
  display: grid;
  grid-template-columns: repeat(12, 1fr); }

.feedback__description {
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: #EEE9E6;
  opacity: 0.6;
  margin: 15px 0 0 5px;
  grid-column: 2 / 7; }

.feedback__form {
  grid-column: 2 / 7;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  outline: 1px solid red; }

.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden; }

/*# sourceMappingURL=style.css.map */
